@model Fiap.MasterChefe.Aplicacao.ViewModels.CategoriaReceitaViewModel
@{
    ViewData["Title"] = "Delete";
}
<h2 style="color:white">Delete</h2>
<h3 style="color:white">Deseja excluir esta categoria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlImagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlImagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExibirTelaPrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExibirTelaPrincipal)
        </dd>
    </dl>

    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-default">Voltar para a Lista</a>
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>

