@model Fiap.MasterChefe.Aplicacao.ViewModels.CategoriaReceitaViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 style="color:white">Detalhe</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt >
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlImagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlImagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExibirTelaPrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExibirTelaPrincipal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a> 
    <a asp-action="Index" class="btn btn-default">Voltar para a Lista</a>
</div>
