@model Fiap.MasterChefe.Aplicacao.ViewModels.CategoriaReceitaViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 style="color:black">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt >
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlImagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlImagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExibirTelaPrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExibirTelaPrincipal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
