@model Fiap.MasterChefe.Aplicacao.ViewModels.ReceitaViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2 style="color:white">Delete</h2>

    <h3 style="color:white">Deseja excluir esta receita?</h3>
    <div>
        <h4>ReceitaViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TempodePreparo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TempodePreparo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rendimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rendimento)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Apagar" class="btn btn-default" /> |
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Voltar a Lista</a>
</div>