@model Fiap.MasterChefe.Aplicacao.ViewModels.ReceitaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>Details</h2>

    <div>
        <h4>ReceitaViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoriaReceita.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoriaReceita.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TempodePreparo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TempodePreparo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rendimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rendimento)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
</div>
