@model IEnumerable<Fiap.MasterChefe.Aplicacao.ViewModels.ReceitaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <p>
        <br /><br />
        <a asp-action="Create" class="btn btn-primary"  style="color:white;" >Nova receita</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th style="color:white;">
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th style="color:white;">
                    @Html.DisplayNameFor(model => model.TempodePreparo)
                </th>
                <th style="color:white;">
                    @Html.DisplayNameFor(model => model.Rendimento)
                </th>
                <th style="color:white;">
                    @Html.DisplayNameFor(model => model.CategoriaReceitaId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr style="color:white;">
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempodePreparo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rendimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaReceita.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>